<footer class="container-fluid bg-light">
        <div class="container-fluid bg-light">  
        <div class="row">
            <section class="col">
                 Footer1
                </section>
           <section class="col">
                 Footer2
                </section>
                <section class="col">
                 Footer3
                </section>
         </div>
        </footer>